@import "tailwindcss";


body {
  @apply transition-colors duration-500;
  margin: 0;
}

body.dark {
  @apply bg-[#0f172a] text-gray-400;
}

body.light {
  @apply bg-gray-100 text-black;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  override-colors: black;
}